.map {
  height: 100%;
  width: 100%;
}

.sidebar {
  background-color: var(--color-gray-50);
  border-radius: 6px;
  box-shadow: 0 2px 6px var(--color-gray-300);
  font-size: 14px;
  padding: 10px 15px;
}

.resetButton {
  background-color: var(--color-gray-50);
  border: 1px solid var(--color-gray-200);
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 2px 6px var(--color-gray-300);
  padding: 8px 12px;

  &:hover {
    background-color: var(--color-gray-100);
  }
}
