#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  isolation: isolate;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex: 0 0 auto;
}

.main-content {
  display: flex;
  flex: 1 1 auto;
}

.landing-prompt-column {
  flex: 0 0 auto;
  width: 300px;
}

.map-column {
  flex: 1 1 auto;
}

.footer {
  flex: 0 0 auto;
}
